<div style="width: 700px; margin: auto;">
  <table class="table table-striped">
    <tbody>
    <tr>
      <td>
        public name ="myName";
      </td>
      <td>
        {{name}}
      </td>
    </tr>
    <tr>
      <td>
        public name ="myName";
      </td>
      <td>
       {{"text + name =" + name }}
      </td>
    </tr>
    <tr>
      <td>
        name.length
      </td>
      <td>
        {{name.length}}
      </td>
    </tr>
    <tr>
      <td>
        name.toUpperCase()
      </td>
      <td>
        {{name.toUpperCase()}}
      </td>
    </tr>
    <tr>
      <td>
        greetUser()
      </td>
      <td>
        {{greetUser()}}
      </td>
    </tr>
    <tr>
      <td>
        public siteUsl = window.location.href;
      </td>
      <td>
        {{siteUsl}}
      </td>
    </tr>
    <tr>
      <td>
        input type="text" [id]="testId" value="value 1"<br>
        input [disabled]="isDisabled" type="text" id={{testId}} value="value 2"
      </td>
      <td>
        <input type="text" [id]="testId" value="value 1"><br>
        <input [disabled]="isDisabled" type="text" id={{testId}} value="value 2">
      </td>
    </tr>
    <tr>
      <td>
       Class
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>
        public blueClass= "blue";
      </td>
      <td [class]="blueClass">
        [class]="blueClass"
      </td>
    </tr>
    <tr>
      <td>
        public isDisabled = true;
      </td>
      <td [class.tomato]="isDisabled">
        [class.tomato]="isDisabled"
      </td>
    </tr>
    <tr>
      <td>
        <pre>
            public messageClass = <
    "blue" : this.isDisabled,
    "font-24" : this.isDisabled,
    "italic" : this.isDisabled,
>
        </pre>
      </td>
      <td [ngClass] ="messageClass">
        [ngClass] ="messageClass"
      </td>
    </tr>
    <tr>
      <td [style.color]="blueStyle">
        [style.color]="blueStyle"
      </td>
      <td [style.color]="'red'">
        [style.color]="'red'"
      </td>
    </tr>
    <tr>
      <td>

      </td>
      <td [style.color]="isDisabled ? 'blue': 'green'">
        [style.color]="isDisabled ? 'blue': 'green'">
      </td>
    </tr>
    <tr>
      <td>
        <pre>
            public titleStyle = <
              color: 'red',
              fontSize: '36px'
            >;
        </pre>
      </td>
      <td [ngStyle]="titleStyle">
        [ngStyle]="titleStyle"
      </td>
    </tr>
    <tr>
      <td>
        <button (click)="onClick()">(click)="onClick()"</button>
      </td>
      <td>
        {{isClick}}
          <pre>
              onClick() <
                        console.log('console log');
                        this.isClick ="text";
                        this.isDisabled = false;
            >
          </pre>
      </td>
    </tr>
    <tr>
      <td>
        <button  (click)="onClick($event)">
          (click)="onClick($event)"
        </button>

      </td>
      <td>
          <pre>
              onClick() <
                  console.log(event);

                >
            {{name}}
          </pre>
      </td>
    </tr>
    <tr>
      <td (click)="name='new name'">
        (click)="name='new name'"
      </td>
      <td>
        {{name}}
      </td>
    </tr>
    <tr>
      <td>
        <input #myInput type="text">
        <button (click)="logMessage(myInput.value)">
         log
        </button>
      </td>
      <td>

      </td>
    </tr>
    <tr>
      <td>
        <input type="text" [(ngModel)]="username">
        <p>
          {{username}}
        </p>
      </td>
      <td>

      </td>
    </tr>
    <tr>
      <td>
        public displayName =true;
      </td>
      <td>
        <p *ngIf="displayName">
          *nfIf ="displayName"
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <p *ngIf="displayName; then thenBlock; else elseBlock">
          true
        </p>
        <ng-template #thenBlock>
          ng-template #thenBlock true
        </ng-template>
        <ng-template #elseBlock>
          ng-template #elseBlock false
        </ng-template>
      </td>
    </tr>
    <tr>
      <td>
        [ngSwitch]
      </td>
      <td>
        <div [ngSwitch]="color">
          <p *ngSwitchCase="'red'"> *ngSwitchCase="'red'"</p>
          <p *ngSwitchCase="'blue'"> *ngSwitchCase="'blue'"</p>
          <p *ngSwitchCase="'green'"> *ngSwitchCase="'gren'"</p>
          <p *ngSwitchDefault> *ngSwitchDefault</p>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        *ngFor = "let col of colors"
      </td>
      <td>
          <p *ngFor = "let col of colors;index as i">
            {{i}} - {{col}}
          </p>
        <p *ngFor = "let col of colors;first as f">
          {{f}} - {{col}}
        </p>
      </td>
    </tr>
    <tr>
      <td>
        *ngFor = "let col of colors2"
      </td>
      <td>
        <p *ngFor = "let col of colors2">
          {{col.id}}
        </p>
        <p *ngFor = "let col of colors2">
          {{col.name}}
        </p>
      </td>
    </tr>
    <tr>
      <td>
        parentData <br>
        <button (click)="onParent ()">
          onParent ()
        </button>
      </td>
      <td>
          {{parent}}
      </td>
    </tr>
    <tr>
      <td>
        <button (click)="fireEvent()">
          childEvent
        </button>
      </td>
      <td>
        {{message}}
      </td>
    </tr>
    <tr>
      <td>
        {{lower | lowercase}}
      </td>
      <td>
        {{aperr | uppercase}}
      </td>
    </tr>
    <tr>
      <td>
        {{aperr | titlecase}}
      </td>
      <td>
        {{aperr | slice:3}}
      </td>
    </tr>
    <tr>
      <td>
        {{aperr | slice:3:5}}
      </td>
      <td>
        {{arr | json}}
      </td>
    </tr>
    <tr>
      <td>
        {{5.6787777 | number:'1.3-3'}}<br>
        {{5.678 | number:'3.4-5'}}<br>
        {{5.678 | number:'3.1-2'}}
      </td>
      <td>

      </td>
    </tr>
    <tr>
      <td>
        {{0.25 | percent}}
      </td>
      <td>
          {{0.25 | currency}}
      </td>
    </tr>
    <tr>
      <td>
        {{0.25 | currency : 'GBP'}}
      </td>
      <td>
        {{0.25 | currency : 'GBP' : 'code'}}
      </td>
    </tr>
    <tr>
      <td>
        {{0.25 | currency: 'UA': true}}
      </td>
      <td>

      </td>
    </tr>
    <tr>
      <td>
          {{date}}
      </td>
      <td>
        {{date | date: 'short'}}
      </td>
    </tr>
    <tr>
      <td>
        {{date | date: 'shortDate'}}
      </td>
      <td>
        {{date | date: 'shortTime'}}
      </td>
    </tr>
    <tbody>
  </table>
</div>



